---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
{
"title": "Wide Selection of Legal Experts",
"description": "Access a diverse pool of experienced lawyers and law firms on LegalEase, ensuring you find the perfect match for your specific legal needs.",
"icon": "bx:bx-hive"
},
{
"title": "Transparent Reviews and Ratings",
"description": "Make informed decisions with confidence by reading reviews and ratings from other clients, helping you choose the right lawyer or law firm for your case.",
"icon": "bx:bx-bookmark-alt-plus"
},
{
"title": "Streamlined Communication and Collaboration",
"description": "Effortlessly communicate with your chosen lawyer or law firm through LegalEase's platform, streamlining the entire collaboration process for enhanced efficiency.",
"icon": "bx:bx-user-pin"
},
{
"title": "Convenient Case Management",
"description": "Manage your legal matters seamlessly with LegalEase's integrated case management tools, allowing you to track progress, share documents, and stay organized.",
"icon": "mdi:account"
},
{
"title": "Cost Transparency and Budget Control",
"description": "Get complete visibility into legal costs and fees upfront, ensuring transparency and helping you stay within your budget throughout the legal process.",
"icon": "bx:bx-cube"
},
{
"title": "Time-Saving Solutions",
"description": "Save valuable time by leveraging LegalEase's comprehensive search and filtering features, which enable you to quickly find and engage with lawyers or law firms that meet your specific requirements.",
"icon": "bx:bx-time"
}
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to find your perfect lawyer
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Are you tired of expensive legal fees eating away at your budget? Look no further than LegalEase, the online marketplace that connects you with affordable lawyers and legal professionals.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
